{% extends 'my_app/base.html' %}
{% block content %}
  <div class="container mt-3 mb-3">
      <h1 class="display-3 align-items-center text-center">Welcome {{ user.username }}</h1>
  </div>
  <div class = "container w-75">
  <!-- <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Prerequisites</th>
          <th scope="col">Department</th>
          <th scope="col">Available</th>
        </tr>
      </thead>
      <tbody>
          {% for data in info %}
        <tr>
          <th scope="row">{{data.id}}</th>
          <td>{{data.name}}</td>
          <td>{{data.prereq}}</td>
          <td>{{data.dep}}</td>
          {% if data.available %}
              <td class="bg-success"> Yes </td>
          {% else %}
              <td class="bg-danger">No</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table> -->

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Student</th>
          <th scope="col">Name</th>
          <th scope="col">Update</th>
          <th scope = "col">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for data in course %}
        <tr>
          <th scope="row">{{data.student.username}}</th>
          <td>{{data.name}}</td>
          {% ifequal data.student.id user.id %}
          <td> <a href = "course/{{data.id}}/update/">Update</a> </td>
          <td> <a href = "course/{{data.id}}/delete/">Delete</a> </td>
          {% else %}
          <td></td>
          <td></td>
          {% endifequal %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a class="btn btn-outline-info" href = "course/new/">
      Add New Course
  </a>
  </div>

{% endblock content %}
